* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: pink;
}
.heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    background-color: yellow;
    /* width: fit-content;
    height: fit-content; */
    padding: 10px;
    border: 5px solid black;
    margin: 10px 10px 50px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}
.intro {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
}
.sub-heading {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(243, 242, 247);
    background-color: rgb(3, 2, 59);
    /* width: fit-content;
    height: fit-content; */
    padding: 10px;
    border: 5px solid rgb(201, 198, 198);
    margin: 10px 10px 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: 400px;
    margin-right: 400px;
    gap: 50px;
}
.link {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    /* display: block; */
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    gap: 15px;
}
.center
    {
    font-family: sans-serif;
    color: rgb(37, 39, 0);
    display: flex;
    /* display: block; */
    justify-content: center;
    align-items: center;
}
body {
    width: 100%;
}
a {
    color: #ff0059;
    font-style: italic; 
}
ul {
    list-style-type: none;
}
a:hover {
    color: chocolate;
}
a:visited {
    color: blue;
}